#title
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#main
{
    border: solid;
    height: 700px;    
    margin-left: 200px;
    text-align: center;
    width : 1500px;    

}
#footer
{
    margin-top : 2vh;
    text-align: center;
}

#header
{
    margin-left: 200px;
    width: 1600px;
    height: 100px;
}
#header div
{
    display: inline-block;
    width: 250px;
    height: 70px;
}
#HP
{
    border: solid;    
    float: right;
    height: 35px;
    margin-right: 200px;

}
#HP_Wrap
{
    height: 50px;    
}
#inputBox
{
    width : 220px;
    height: 25px;
    font-size : 20px;
}

.blood
{    
    width: 30px;
    border-right: solid 1px;    
    display: inline-block;
    height: 35px;
 
}
.word
{
    border: 1px solid #73AD21;
    font-size : 25px;
    position: absolute;
}
.header-side
{
    margin-left : 100px;
    text-align : center;
    font-size: 25px;
}
#header-stage
{
    text-align : center;
    font-size: 25px;
    margin-right : 50px;
}

.blocks{
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-timing-function: linear; 
    width: auto;
    height: 50px;
    background: red;
    position: absolute;
    text-align: center;
    font-size: 30px;
    display : inline-block;
  }

  /* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {top: 120px;}
    to {top: 750px;}
  }
  
  @keyframes mymove {
    from {top: 120px;}
    to {top: 760px;}
  }

 #countdown{
    position : absolute;
    top : 300px;
    width : 200px;
    height : 200px;
    border : solid white 5px;
    z-index: 3;
    margin-left: 650px;
    background-color: black;
    font-size: 40px;
    color : white;
    line-height: 200px;
 } 

  



